.container-1{
    height:100vh;
}

.paragraph-5{
    background-color:aqua;
    border-style:solid;
    border-radius:50%;
    border-color:blue;
    height:200px;
    width:200px;
    font-size:70px;
    font-weight:bolder;
}